<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bsstokes.bsdiy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.BsDiyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_bsdiy_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ChallengeActivity"/>
        <activity
            android:name=".SkillActivity"
            android:parentActivityName=".MainActivity"/>

        <service
            android:name=".sync.ApiSyncService"
            android:exported="false"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c53b7143afb848fea60149d3edc66591dda0d90e"/>
    </application>

</manifest>